.sharethumb-settings-row .select2-container, 
.sharethumb-settings-row input[type='text'], 
.sharethumb-settings-row .description  {
	width: 300px!important;
	max-width: 100%!important;
}

.sharethumb-settings-row.checkboxes td:nth-child(2) {
	display: flex;
	gap: 20px;
}
.sharethumb-settings-row.hidden {
	display: none;
}
.sharethumb-settings-row.custom-theme {
	display: none;
}
.sharethumb-settings-row.custom-theme.show {
	display: table-row;
}

.post-configuration-wrapper .sharethumb-settings-row {
	margin-bottom: 10px;
}
.post-configuration-wrapper .sharethumb-settings-row label {
	display: block;
}
.post-configuration-wrapper .sharethumb-settings-row input {
}